<header id="page-header">
  <div id="header-title">
    <a href="<%- url_for() %>"><%- config.title %></a>
  </div>
  <div id="header-nav">
    <ul>
      <% for (name in theme.menu) { %>
        <li><a target="_blank" class="menu-item <%- name === 'Index' && page.layout !== 'post' ? 'active' : '' %>" href="<%- url_for(theme.menu[name]) %>"><%= name %></a></li>
      <% } %>
    </ul>
</header>
